body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

a {
  text-decoration: none;
  color: #555;
  line-height: 18px;
}

a:hover {
  color: black;
  font-size: 28px;
}

header {
  position: relative;
  max-width: 960px;
  height: 270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  header {
    margin: 0 30px;
  }
}

header .header-logo {
  position: absolute;
  top: 105px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-logo h1 {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
}

header .header-menu {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-menu .menu {
  margin-left: 50px;
  font-size: 18px;
}

.header-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(image/welcomeSea.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 20%;
}

.main {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    margin-top: 30px;
  }
}

.main h2 {
  margin-bottom: 50px;
  text-align: center;
  border-bottom: 5px solid #000;
  border-bottom-style: dotted;
}

.main span {
  color: blue;
  font-size: 30px;
}

.main .works .content .work {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .main .works .content .work {
    margin-bottom: 30px;
  }
}

.main .works .content .work a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .works .content .work a:hover {
  background-color: white;
  opacity: 0.5;
}

.main .works .content .work h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}

.main .works .content .work .work-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .works .content .work .work-content1 .work-img {
  max-width: 500px;
  height: 250px;
  margin: 0;
  overflow: hidden;
}

.main .works .content .work .work-content1 .work-img img {
  width: 500px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 5px 3px #888;
          box-shadow: 10px 5px 3px #888;
}

.main .works .content .work .work-content1 .work-text-wrapper {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .main .works .content .work .work-content1 .work-text-wrapper {
    display: none;
  }
}

.main .works .content .work .work-content1 .work-text-wrapper h4 {
  margin: 0;
}

.main .works .content .work .work-content1 .work-text-wrapper ul {
  margin: 0;
}

.main .works .content .work .work-content2 {
  max-width: 500px;
}

.main .profile {
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .main .profile {
    margin-bottom: 30;
  }
}

.main .profile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .main .profile .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .profile .content .profile-img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .main .profile .content .profile-img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.main .profile .content .profile-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .profile .content .text {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .profile .content .text .line2 {
  display: inline;
}

@media screen and (max-width: 600px) {
  .main .profile .content .text .line2 {
    display: block;
  }
}

.main .contact {
  margin-bottom: 100px;
}

.main .contact input, .main .contact button, .main .contact textarea, .main .contact select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (max-width: 600px) {
  .main .contact .formrun {
    margin: 0 auto;
    width: 90%;
  }
}

.main .contact .formrun input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #888;
  font-family: serif;
}

.main .contact .formrun input:hover {
  border-bottom: 2px solid #000;
}

.main .contact .formrun textarea {
  width: 100%;
  min-height: 60px;
  border: 1px solid #888;
  font-family: serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .contact .formrun textarea:hover {
  border: 2px solid #000;
}

.main .contact .formrun div {
  margin-bottom: 50px;
}

.main .contact .formrun div label {
  display: block;
}

.main .contact .formrun button {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

footer {
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
}

footer p {
  margin: 0;
  line-height: 30px;
}
/*# sourceMappingURL=styles.css.map */